snippet proj "Create project outline" b
== ${1:Project Name}
=== Goals and Principles
$2
=== Outcome
$3
=== Brainstorm
$4
=== Plan
$5
=== Next actions
$6
endsnippet

snippet t "Todo item"
* [${1: }] ${2:Item description...}
endsnippet

snippet quote "Block quote" b
[quote, ${1:Source}]
${2:Quote...}
endsnippet
